venv/
metodos/__pycache__/
metodos/Diamond_Difference/__pycache__/
metodos/MED/__pycache__/
metodos/MED_Modified/__pycache__/
metodos/SGF/__pycache__/
metodos/quadratura/__pycache__/
metodos/common/__pycache__/
dashboards/__pycache__/
dados/__pycache__/
mensagens/__pycache__/
imagens/grafico_regioes.png
imagens/Grafico.png
imagens/intensidade.png
dados/cache.json
dados/relatorio.txt
dados/cache_reator.txt
benchmark/
.vscode/